@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

.scaleable-image img {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.scaleable-image img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.full-w-header {
  min-height: calc(100vh - 5.5rem);
}

.full-w-header-pad {
  min-height: calc(100vh - 6rem);
}

.text-shadow {
  text-shadow: 0px 0px 1px rgb(0 0 0 / 20%), 0px 0px 1px rgb(1 0 5 / 10%);
}

.banner-bg {
  background-size: cover;
  background: linear-gradient(rgba(33, 51, 120, 0), rgba(33, 51, 120, 1)),
    url('./assets/banner.jpeg');
}
